<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create party :)</title>
</head>
<body>
    <h2>Create your parties here!!!!</h2>

    <% if (user) { %>
        <form action="/parties/create" method="POST" id="<%= user.id %>">
            <label for="">Name</label>
            <input type="text" name="name" id="name">
            <br>
            <label for="">Password</label>
            <input type="password" name="password" id="password">
            <br>
            <label for="">Max participants</label>
            <input type="number" name="maxparticipants" id="maxparticipants">
            <br>
            <label for="">Min participants</label>
            <input type="number" name="minparticipants" id="minparticipants">
            <br>
            <br><input type="submit" value="Create party">
        </form>
    <% } else { %>
        <hr>
        
        <h2>uh oh!</h2>
        <p>It seems you're not logged in yet!</p>
        <p>click <a href="/login">here</a> to log in or <a href="/signup">here</a> to sign up!!!</p>
    <% } %>
</body>
</html>