<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('utils/links') %>
    <title>Home</title>
</head>
<body>
    <%- include('utils/nav', {active: 'home', user: user, session: session}) %>

    <main>
        <h1>Hey!</h1>
    </main>
</body>
</html>