<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home :)</title>
</head>
<body>
    <% if (session) { %>
        <h2>Hello, <%= session.user.nickname %>!!</h2>
        <form action="/logout"><input type="submit" value="Logout"></form>

        <section id="myparties">
            <h2>My parties</h2>
            <a href="/parties/create">Create new party</a>
        </section>
    <% } else { %>
        <h2>Hello, stranger!!</h2>
    <% } %>
</body>
</html>