<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('utils/links') %>
    <link rel="stylesheet" type="text/css" href="css/login_reg.css">
    <title>Log in</title>
</head>
<body>
    <%- include('utils/nav', {active: 'login', session: null}) %>

    <main>
        <form id="login" action="/login" method="POST">
            <h1>Log in</h1>
            <div class="elements">
                <input type="text" name="username" id="username" placeholder="username">
                <br>
                <input type="password" name="password" id="password" placeholder="password">
                <p class="msg"><%= msg %></p>
            </div>
            <input type="submit" value="Log in">
        </form>
    </main>
</body>
</html>