<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home :)</title>
</head>
<body>
    <h2>My parties!!</h2>

    <a href="/parties/create">Create new party</a>

    <% parties.forEach(party => { %>
        <%- include ('utils/partydiv', {party: party}) %>
    <% }); %>
</body>
</html>