@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --fair-gray: #eeeeee;
    --light-gray: #bbbbbb;
    --medium-gray: #858585;

    --pink: #e7aaaa;

    --bg: var(--fair-gray);
    --bg2: #ffffffda;
    --sec-color: var(--pink);
    --font-color: black;
}

$font: 'Poppins', sans-serif;
$round: 8px;
$round-container: 15px;
$border: 1px solid var(--font-color);
$padding-element: 8px 20px !important;

@mixin box () {
    background-color: var(--bg2);
    width: fit-content;
    border-radius: $round-container;
    padding: 30px;

    backdrop-filter: blur(5px);
}

@mixin center () {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}