@import '_variables.scss';
@import '_navbar.scss';

* {
    font-family: $font;

    box-sizing: border-box;
    transition: 0.15s;
}

body {
    background-color: var(--bg);

    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

form {
    &.form-btn {
        width: fit-content !important;
        height: fit-content !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}

button, input[type='submit'] {
    border: 1px solid var(--font-color);
    border-radius: 30px;
    outline: none;

    padding: 5px 20px !important;

    &:hover {
        cursor: pointer;
        transform: scale(105%);
    }

    &:active {
        transform: scale(98%);
    }
}

a {
    color: var(--font-color);
    text-decoration: none;

    &:active {
        color: var(--font-color);
    }
}

p {
    &:hover {
        cursor: default;
    }
}