<nav id="navbar">
    <a href="/">Home</a>
    <div class="links">
        <% if (session) { %>
            <p><%= user.username %></p>
            <form class="form-btn" method="GET" action="/logout" >
                <input type="submit" value="log out"></input>
            </form>
        <% } else { %>
            <a href="/login" <% if (active === 'login') {%> class="active" <% } %>>Log in</a>
            <a href="/register" <% if (active === 'register') {%> class="active" <% } %>>Register</a>
        <% } %> 
    </div>
</nav>